{{ define "main" }}

<main class="max-w-prose mx-auto block">
  {{ partial "menu.html" . }}
  <section id="main">
    <h1 id="title">{{ .Title }}</h1>
    <div>
      {{ if isset .Params "date" }}
      <span id="date" class="text-sm text-gray-600">{{ .Date.Format "Mon Jan 2, 2006" }}</span>
      {{ end }}
      {{ if in .Params.tags "til" }}
      <span class="ml-2 inline-flex items-center px-3 py-0.5 rounded-full text-sm font-medium bg-green-100 text-green-800">Today I Learned</span>
      {{ end }}
    </div>
    <article id="content" class="mt-6 prose prose-a:text-pink-600 prose-a:no-underline prose-code:before:content-[''] prose-code:after:content-[''] prose-code:font-medium">
      {{ .Content }}
    </article>
  </section>
</main>

<aside id="meta" class="max-w-prose mx-auto block py-10">
  <div class="md:grid md:gap-4 md:grid-cols-2">
    {{ with .PrevInSection }}
    <div class="shadow-md p-4">
      <div class="text-xl font-bold leading-loose flex items-center">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2" viewBox="0 0 20 20" fill="currentColor">
        <path fill-rule="evenodd"
          d="M9.707 14.707a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 1.414L7.414 9H15a1 1 0 110 2H7.414l2.293 2.293a1 1 0 010 1.414z"
          clip-rule="evenodd" />
        </svg>
        <span>Previous</span>
      </div>
      <a href="{{.Permalink}}"> {{.Title}}</a>
    </div>
    {{ end }}
    {{ with .NextInSection }}
    <div class="shadow-md p-4">
      <div class="text-xl font-bold leading-loose flex items-center justify-end">
        <span>Next</span>
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 ml-2" viewBox="0 0 20 20" fill="currentColor">
          <path fill-rule="evenodd"
            d="M10.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L12.586 11H5a1 1 0 110-2h7.586l-2.293-2.293a1 1 0 010-1.414z"
            clip-rule="evenodd" />
        </svg>
      </div>
      <a href="{{.Permalink}}"> {{.Title}}</a>
    </div>
    {{ end }}
  </div>
</aside>

<footer class="max-w-prose mx-auto block py-4 font-light">
  <div>&copy; {{ now.Format "2006"}} Eric Schaefer</div>
</footer>
{{ end }}